.grid {
  background: purple;
  color: white;
  display: grid;
  gap: 5px;
  height: 250vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
}

.header {
    background: #2ecc71;
    align-self: end;
    justify-self: center;
}
.content {
    background: blue;
}
.nav {
    background: blueviolet;
}
.footer {
    background: orange;
}