.grid {
  display: grid;
  gap: 10px;
  height: 50vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: stretch;
}

.header {
  background-color: #2ecc71;
  /* align-self: end;
  justify-self: center; */
  place-self: end center;
}

.content {
  background-color: peru;
}

.nav {
  background-color: rgb(38, 121, 121);
}

.footer {
  background-color: rgb(243, 188, 105);
}
